<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mimes</key>
	<dict>
		<key>htm</key>
		<string>text/html</string>
		<key>html</key>
		<string>text/html</string>
		<key>json</key>
		<string>application/json</string>
	</dict>
	<key>mocks</key>
	<dict>
		<key>POST</key>
		<dict>
			<key>http://115.28.144.243/cavylife/api.do</key>
			<string>Sign_In_Ok.json</string>
		</dict>
	</dict>
</dict>
</plist>
